<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.fachrudin.base">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".BaseApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            android:fullBackupContent="true">

        <activity
                android:name=".presentation.splashscreen.SplashScreenActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".presentation.main.MainPageActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".presentation.addition.AdditionActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".presentation.multiplication.MultiplicationActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".presentation.primary.PrimaryActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".presentation.fibonacci.FibonacciActivity"
                android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>
